header {
    height: 60px;
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
}

.urlibrary-nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.urlibrary-nav-content h1 {
    font-size: 24px;
    margin: 0;
    font-weight: 700;
}

.urlibrary-nav-content input {
    width: 500px;
    border-radius: 8px 8px 8px 8px;
    border: none;
    background-color: white;
    background-position: 10px 4px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS63SKA-wL_NPMScjBr5Tw3r7d4XBhwstmQuA&usqp=CAU');
    background-repeat: no-repeat;
    background-size: 3.5%;
    padding-left: 40px;
    outline: none;
    font-weight: 100;
}

.urlibrary-contact-container {
    display: flex;
    align-items: center;
}

.urlibrary-contact-link {
    margin: 0 0 0 10px;
    font-size: 12px;
}